header {}
main {}
main .wrap {height:100vh; width:100%;}
main .wrap1 {}
main .wrap2 {}
main .wrap3 {}
main .wrap4 {}
main .wrap .bg1 {background-image:url(../images/bg1.jpg);}
main .wrap .bg2 {transition:all 0.5s; /* opacity:0; */ background-image:url(../images/bg2.jpg);}
main .wrap .bg3 {transition:all 0.5s; background-image:url(../images/bg3.jpg);}
main .wrap .bg4 {background-image:url(../images/bg4.jpg);}
main .wrap .bg {
    background-repeat:no-repeat; background-size:cover;
    background-position:center; height:100%;
}
main .wrap .bg h1 {padding:20px; font-size:3rem; font-weight:600;}
main .wrap .bg1 h1 {text-align:center; line-height:100vh; color:#fff;}
footer {}